/* colors */

/* first section */
.section:nth-of-type(1) {
    background: linear-gradient(0deg , hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

.section:nth-of-type(1) h1 {
    color: #fff;
}

.section:nth-of-type(1) h2 {
    color: hsl(241, 100%, 89%);
}

.section:nth-of-type(1) p {
    color: hsla(221, 100%, 96%, 0.6);
}

/* first section - score circle */
.score {
    background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

.score-item:nth-of-type(1) p {
    color: #fff;
}

.score-item:nth-of-type(2) p {
    color: hsla(221, 100%, 96%, 0.6);
}

/* second section */
.section:nth-of-type(2) h2 {
    color: hsl(224, 30%, 27%);
}

.summary-row:nth-of-type(1) {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.summary-row:nth-of-type(2) {
    background-color: hsla(39, 100%, 56%, 0.1)
}

.summary-row:nth-of-type(3) {
    background-color: hsla(166, 100%, 37%, 0.1)
}

.summary-row:nth-of-type(4) {
    background-color: hsla(234, 85%, 45%, 0.1)
}

.summary-row:nth-of-type(1) .summary-row-item:nth-of-type(2) {
    color: hsl(0, 100%, 67%);
}

.summary-row:nth-of-type(2) .summary-row-item:nth-of-type(2) {
    color: hsl(39, 100%, 56%)
}

.summary-row:nth-of-type(3) .summary-row-item:nth-of-type(2) {
    color: hsl(166, 100%, 37%)
}

.summary-row:nth-of-type(4) .summary-row-item:nth-of-type(2) {
    color: hsl(234, 85%, 45%)
}

.summary-row-item:nth-of-type(3) p:nth-of-type(1) {
    color: hsl(224, 30%, 27%);
}

.summary-row-item:nth-of-type(3) p:nth-of-type(2) {
    color: hsla(241, 100%, 89%, 0.7);
}

/* second section - button */
button {
    background-color: hsl(224, 30%, 27%);
    color: #fff;
}

button:hover {
    background: linear-gradient(0deg , hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    cursor: pointer;
}

button:active {
    background: linear-gradient(0deg , hsl(241, 50%, 32%), hsl(252, 45%, 25%));
}

.attribution a {
    color: hsl(228, 45%, 44%);
}