/* font */
@font-face {
    font-family: "Hanken Grotesk";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

/* main layout */
html {
    font-size: 18px;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
}

.section {
    overflow: auto;
}

/* first section */
.section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 24px 24px;
}

.section:nth-of-type(1) h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.section:nth-of-type(1) h2 {
    margin: 1.5rem 0;
    font-size: 1.125rem;
    font-weight: 700;
}

.section:nth-of-type(1) > p {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 12%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* score circle */
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 10px 0 32px rgba(89, 89, 89, 0.06);
}

.score-item:nth-of-type(1) p {
    font-size: 3.5rem;
    font-weight: 800;
}

.score-item:nth-of-type(2) p {
    font-weight: 700;
}

/* second section */
.section:nth-of-type(2) {
    padding: 2rem;
}

.section:nth-of-type(2) h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section:nth-of-type(2) ul {
    list-style: none;
}

.section:nth-of-type(2) p {
    font-size: 1rem;
}

.summary-row {
    display: flex;
    padding: 1.25rem 0;
    margin-bottom: 1rem;
    border-radius: 16px;
}

.summary-row-item:nth-of-type(1) {
    width: 22px;
    height: 22px;
    margin-left: 18px;
}

.summary-row-item:nth-of-type(1) img {
    width: 100%;
}

.summary-row-item:nth-of-type(2) {
    margin-left: 9px;
}

.summary-row-item:nth-of-type(2) p {
    font-weight: 500;
}

.summary-row-item:nth-of-type(3) {
    margin-left: auto;
    margin-right: 18px;
}

.summary-row-item:nth-of-type(3) p {
    display: inline-block;
    font-weight: 700;
}

/* second section button */
button {
    border-radius: 32px;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
}

